.cartItemDetails {
  .cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .itemName {
      width: 100%;
      padding-right: 20px;
    }
    .price {
      padding: 0px 20px;
      width: 100%;
    }
  }
}
