.container {
    display: flex;
    flex-direction: column;
    margin: 25px 50px;
    width: 100%;
    .item {
        margin: 10px 0px;
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .itemDetails {
        .name {
            margin: 5px 0px;
        }
        .price {
            font-weight: 700;
        }
    }
    }
}